<!-- Main Page (in embeddable Ruby format) -->

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <title>coffee & donuts!</title>

  <!-- Main CSS file -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

  <!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Maps API V3 -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places" type="text/javascript"></script>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

  <!-- Main -->
  <section id="main">
    <div class="container">
      <div class="mainText">
        <div class="mainHeading">Making a Good Impression
        </div>
        <div class="mainSubheading">Let's find some coffee and donuts on your route!</div>
        <div class="form-inline" id="user-input">
          <div class="input-group">
            <input type="text" class="form-control" id="user_start" name="user_start" placeholder="Where are you?" aria-describedby="sizing-addon2" >
            <span class="input-group-addon btn" id="start_button" onclick="getLocation()">
              <i class="fa fa-location-arrow"></i>
              <img src="/images/ajax-loader.gif" id="loading-indicator1" style="display:none" />
            </span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" id="user_destination" name="user_destination" placeholder="Where's your destination?" aria-describedby="sizing-addon2">
            <span class="input-group-addon btn" id="destination_button" onclick="calcRoute()">
              <i class="fa fa-search"></i>
              <img src="/images/ajax-loader.gif" id="loading-indicator2" style="display:none" />
            </span>
          </div>
        </div>
        <label id="travel-mode-label">Mode of Travel</label>
        <select id="travelmode" class="btn btn-default dropdown-toggle" data-toggle="dropdown" onchange="calcRoute();">
          <option value="TRANSIT">Transit</option>
          <option value="DRIVING">Driving</option>
          <option value="WALKING" >Walking</option>
          <option value="BICYCLING" >Bicycling</option>
        </select>
        <div class="alert alert-warning collapse" role="alert" id="error_user_location">
          <span>
            <p>Please enter a location, or choose the Location Arrow button to allow your location to be determined.</p>
          </span>
        </div>
        <div class="alert alert-warning collapse" role="alert" id="error_user_term">
          <span>
            <p>Please enter a search term.</p>
          </span>
        </div>

        <!-- Coffee and Donuts image -->
        <img src="/images/coffee_and_donuts.svg"/>

      </div>

    </div>
  </section>

  <!-- Map and Directions Display -->
  <section id="map" style="display:none;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" id="map-canvas"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="map-directions">
          <h1 id="donut_heading" style="display:none;"> Closest Donuts & Coffee Shop: </h1>
          <div id="donut_location">
          </div>
          <div id="map-directions1"></div>
          <div id="map-directions2"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-text">
      <p>© coffee & donuts - brendan luna</p>
      <ul>
        <li><a href="https://github.com/blunatic/coffee-and-donuts" target="_blank">github</a></li>
        <li><a href="https://www.linkedin.com/in/brendanluna" target="_blank">linkedin</a></li>
        <li></li>
      </ul>
    </div>
  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
  </html>