/*
 * Main section
 */

 @media(min-width:768px) {

  #user_start{
    width: 400px;
  }

  #user_destination{
    width: 400px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', Georgia, Times, serif;
  font-weight: 700;
  letter-spacing: 1px;
}


body{
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}

/*
* Main Header
*/

#main{
  text-align: center;
  color: #FFF;
  background-color: #0EB5E2;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


#main .mainText{
  padding-top: 100px;
  padding-bottom: 50px;
}

#main .mainText .mainSubheading{
  font-family: 'Cabin', Georgia, Times, serif;
  font-size: 20px;
}

#main .mainText .mainHeading{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Cabin', Georgia, Times, serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

/*
* User Input Text
*/

#user-input{
  padding-top: 50px;
  padding-bottom: 25px;
}

#travelmode{
  width: 200px;
}

#travel-mode-label{
  padding-right: 5px;
}

.input-group{
  padding: 0px 5px 0px 5px;
}

.pagination-centered {
  text-align: center;
}


/*
* Map Canvas and Directions/Results
*/

#map-canvas {
  height: 390px;
}

#map-directions {
  height: 390px;
}

#map-directions2{
  margin-bottom: 50px;
}

/*
* Footer
*/

.footer {
  padding: 22px 60px 20px;
  background-color: #0EB5E2;
  clear: both;
  overflow: hidden;
  font-family: 'Cabin', Georgia, Times, serif;
}

.footer .footer-text{
  text-align: left;
  color: white;
}

.footer .footer-text p{
  text-align: left;
  color: white;
  float:left;
}

.footer .footer-text ul{
  float: right;
  list-style: none;
  overflow:hidden;
}

.footer .footer-text ul li{
  margin: 0 0 0 50px;
  float:left;
}

.footer .footer-text ul li a{
  color: white;
}

.footer .footer-text ul li a:hover{
  color: black;
}



